VITE_SUPABASE_URL=https://wcakvjfzbuzbbfqucvli.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjYWt2amZ6YnV6YmJmcXVjdmxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMzUyMDIsImV4cCI6MjA4ODgxMTIwMn0.fJQWu61N_eT1SjCESZnmSY6ROG931vpNwp9pXIFH1Jk
VITE_API_URL=http://localhost:3001
