PORT=3001
FRONTEND_URL=http://localhost:5173

SUPABASE_URL=https://wcakvjfzbuzbbfqucvli.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjYWt2amZ6YnV6YmJmcXVjdmxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMzUyMDIsImV4cCI6MjA4ODgxMTIwMn0.fJQWu61N_eT1SjCESZnmSY6ROG931vpNwp9pXIFH1Jk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjYWt2amZ6YnV6YmJmcXVjdmxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIzNTIwMiwiZXhwIjoyMDg4ODExMjAyfQ.p8gMRnkQ5in1VTDsZOeUFqElEjienv5xFl3egNNwOoc
